<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Horizontal">
      <LayoutPanel Orientation="Vertical">
        <LayoutDocumentPane />
      </LayoutPanel>
    </LayoutPanel>
    <LayoutAnchorablePane DockWidth="200">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>