<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock" version="4.72.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock.Themes.VS2013" version="4.72.0" targetFramework="net462" />
  <package id="estebano.ScintillaNET.WPF" version="2.6.0" targetFramework="net462" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net462" />
  <package id="ScintillaNET_FindReplaceDialog" version="1.0.3.3" targetFramework="net462" />
</packages>